MODE=1
PROXY=true

JWT_SECRET=
JWT_ALGORITHM=

MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_PASSWORD=
MONGO_AUTH_DB=

# Cloudflare
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
ACCOUNT_ID=
BUCKET_NAME=
MANAGER_BUCKET_NAME=
R2_MANAGER_PUBLIC_URL=

# CRAWLER
INTERNAL_API_KEY=
DATA_PATH=
CRAWLDATA_PATH=
CRAWLLOG_PATH=
ADMIN_TOKEN=

# MODEL
MODEL_PATH=

# SERVER
GPU_SERVER_URL=

MAIL_SENDER=
MAIL_PASSWORD=
OPENAI_API_KEY=

# LOGGER
DISCORD_BOT_TOKEN=
