MODE=
PROXY=

JWT_SECRET=
JWT_ALGORITHM=

SSH_HOST=
SSH_PORT=
SSH_USER=
SSH_KEY=

MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_PASSWORD=
MONGO_AUTH_DB=

ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
ACCOUNT_ID=
BUCKET_NAME=

DATA_PATH=
CRAWLDATA_PATH=
CRAWLLOG_PATH=

ADMIN_PUSHOVER=
ADMIN_TOKEN=

MODEL_PATH=

GPU_SERVER_URL=
PROGRESS_SERVER_URL=
MAIL_PASSWORD=
OPENAI_API_KEY=