# Python 가상환경
venv/
ENV/
env/
.venv/
.ENV/
ENV.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS에서 생성되는 파일
.DS_Store

# Ignore .exe files
*.exe

# IDE 관련
.idea/
*.iml
*.iws
*.ipr
.idea/misc.xml
*.xml

# 환경 변수 및 로그
.env
logs/
records/
temp/
