aiohttp
beautifulsoup4
boto3
chardet
cryptography
fastapi
fastparquet
google_api_python_client
google_auth_oauthlib
googletrans
kiwipiepy
matplotlib
mySQL
numpy
openai
packaging
pandas
Pillow
protobuf
pyarrow
pydantic
pymongo
PyMySQL
PyQt5
PyQt5_sip
python-dotenv
python_bcrypt
pytz
requests
rich
seaborn
starlette
tqdm
urllib3
user_agent
uvicorn
wordcloud
PyQtWebEngine
python-multipart
