requests
chardet
aiohttp
beautifulsoup4
boto3
cryptography
fastapi
lxml
fastparquet
google_api_python_client
google_auth_oauthlib
googletrans
matplotlib
numpy
openai
packaging
pandas
Pillow
protobuf
pyarrow
pydantic
pymongo
PyMySQL
PySide6
python-dotenv
python_bcrypt
pytz
requests
rich
seaborn
starlette
tqdm
user_agent
uvicorn
websockets
wordcloud
PyQtWebEngine
python-multipart
sshtunnel
psutil
pyjwt
kiwipiepy
transformers
yt-dlp
FlagEmbedding
jinja2
faster_whisper
ultralytics