altgraph
annotated-types
anyio
bcrypt
boto3
botocore
certifi
cffi
chardet
charset-normalizer
colorama
contourpy
cramjam
cryptography
cycler
distro
dnspython
dotenv
fastparquet
fonttools
fsspec
googletrans
h11
h2
hpack
httpcore
httpx
hyperframe
idna
invoke
jiter
jmespath
kiwisolver
markdown-it-py
matplotlib
mdurl
Nuitka
numpy
openai
ordered-set
packaging
pandas
paramiko
pefile
pillow
pip
pyarrow
pycparser
pydantic
pydantic_core
Pygments
pyinstaller
pyinstaller-hooks-contrib
pymongo
PyNaCl
pyparsing
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
python-dotenv
pytz
pywin32-ctypes
requests
requests-toolbelt
rich
s3transfer
seaborn
setuptools
shiboken6
six
sniffio
sshtunnel
tqdm
typing_extensions
typing-inspection
tzdata
urllib3
wheel
wordcloud
zstandard